.btn {
	background: linear-gradient($royalBlue, $mainBlue);
	border: solid;
	border-color: $mainBlue;
	border-radius: 7%;
	border-width: 2px;
	color: #FFF;
	text-decoration: none;
	padding: .75rem 1.2rem;
	display: inline-block;

	&--large {
		padding: 1rem 1rem;
	}
}
