.car-image {
    position: absolute;
    top: 35%;
    left: 20%;
    opacity: 0;
    transform: scale(.6);
    transition: all .5s ease-out;

    @mixin exSmall {
        opacity: 1;
    }

    @mixin atSmall {
        top: 30%;
        left: 20%;
        transform: scale(.7);
    }

    @mixin atMedium {
        top: 36%;
        left: 38%;
        transform: scale(.8);
    }

    @mixin atLarge {
        top: 38%;
        left: 44%;
        transform: scale(1);
    }
}