.large-hero {
	border-bottom: 10px solid $mainBlue;
	position: relative;

	&__image {
		display: block;
		width: 100%;
	}

	&__content {
		position: absolute;
		transform: translateY(-65%);
		top: 65%;
		left: 0;
		width: 100%;
		text-align: center;

		@mixin exSmall {
			text-align: left;
			top: 85%;
		}

		@mixin atSmall {
			text-align: left;
		}
	}

	&__title {
		color: #FFF;
		font-size: 1.1rem;
		font-weight: 400;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
		text-align: center;
		margin-top: .1rem;
		margin-bottom: .1rem;

		@mixin exSmall {
			text-align: left;
			font-size: 1.1rem;			
		}

		@mixin atSmall {
			text-align: left;
			font-size: 1.2rem;
		}

		@mixin atMedium {
			font-size: 1.45rem;
		}

		@mixin atLarge {
			font-size: 1.85rem;
		}
	}
}