.primary-nav {

    &--pull-right {
        @mixin exMedium {
            float: right;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }

    li {
        display: inline-block;
        list-style: none;
        padding-right: 7px;
        padding-top: 10px;

        @mixin exMedium {
            padding-right: 15px;
        }
    }

    a {
        text-decoration: none;
        display: block;
        font-weight: 600;
        font-size: 1rem;
        color: rgba($mainBlack, .9);
    }
}